@model X.PagedList.IPagedList<Guarantee>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    Aban.ViewModel.BreadCrumb breadCrumb = new Aban.ViewModel.BreadCrumb();
    breadCrumb.PageTitle = "ضمانت ها";
    breadCrumb.Title = "ضمانت ها";

    breadCrumb.Links = new List<string[]> { new string[2] { Url.Action("Index"), breadCrumb.PageTitle } };
    string sortColumn = ViewBag.sortColumn;
    object RouteValue(string sortColumn)
        => new
        {
            guaranteeUserId = ViewBag.guaranteeUserId,
            chequeNumber = ViewBag.chequeNumber,
            bankName = ViewBag.bankName,
            chequePrice = ViewBag.chequePrice,
            bankDraftNumber = ViewBag.bankDraftNumber,
            bankDraftPrice = ViewBag.bankDraftPrice,
            goldGuarantee = ViewBag.goldGuarantee,
            paySlip = ViewBag.paySlip,
            registerDateFrom = ViewBag.registerDateFrom,
            registerDateTo = ViewBag.registerDateTo,


            pageNumber = ViewBag.pageNumber,
            pageSize = ViewBag.pageSize,
            sortColumn = sortColumn,
            lastColumn = ViewBag.lastColumn,
            isDesc = ViewBag.isDesc
        };

}
@await Html.PartialAsync("~/Views/Shared/Generic/_BreadCrumb.cshtml", breadCrumb)



<div class="row layout-top-spacing">
    <div class="col-lg-12 col-12 layout-spacing">
        <div class="statbox widget box box-shadow">

            <partial name="./Partial/_FilterTablePartial" />

            @await Html.PartialAsync("~/Views/Shared/Generic/_CreateButtonWithPageSize.cshtml", "ضمانت جدید")
            <div class="table-responsive text-center">
                <table class="table table-bordered table-hover mb-4">
                    <thead>
                        <tr>

                            <th style="width: 162px;">@Html.ActionLink("کد", "Index", "Guarantee", RouteValue("Id"), new { @id = "Id" })</th>
                            <th style="width: 162px;">@Html.ActionLink("ضامن", "Index", "Guarantee", RouteValue("guaranteeUserId"), new { @id = "" })</th>
                            <th style="width: 162px;">@Html.ActionLink("شماره چک", "Index", "Guarantee", RouteValue("ChequeNumber"), new { @id = "ChequeNumber" })</th>
                            <th style="width: 162px;">@Html.ActionLink("نام بانک", "Index", "Guarantee", RouteValue("BankName"), new { @id = "BankName" })</th>
                            <th style="width: 162px;">@Html.ActionLink("مبلغ چک ضمانت", "Index", "Guarantee", RouteValue("ChequePrice"), new { @id = "ChequePrice" })</th>
                            <th style="width: 162px;">@Html.ActionLink("شماره سفته", "Index", "Guarantee", RouteValue("BankDraftNumber"), new { @id = "BankDraftNumber" })</th>
                            <th style="width: 162px;">@Html.ActionLink("مبلغ سفته", "Index", "Guarantee", RouteValue("BankDraftPrice"), new { @id = "BankDraftPrice" })</th>
                            <th style="width: 162px;">@Html.ActionLink("وزن و مشخصات طلای ضمانتی", "Index", "Guarantee", RouteValue("GoldGuarantee"), new { @id = "GoldGuarantee" })</th>
                            <th style="width: 162px;">@Html.ActionLink("مشخصات فیش حقوقی ضمانتی", "Index", "Guarantee", RouteValue("PaySlip"), new { @id = "PaySlip" })</th>
                            <th style="width: 162px;">@Html.ActionLink("تاریخ ثبت", "Index", "Guarantee", RouteValue("RegisterDate"), new { @id = "RegisterDate" })</th>

                            <th style="width: 162px;">عملیات</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.GuaranteeUser.FirstName @item.GuaranteeUser.LastName</td>
                            <td>@item.ChequeNumber </td>
                            <td>@item.BankName </td>
                            <td>@item.ChequePrice </td>
                            <td>@item.BankDraftNumber </td>
                            <td>@item.BankDraftPrice </td>
                            <td>@item.GoldGuarantee </td>
                            <td>@item.PaySlip </td>
                            <td>
                                @Html.ConvertPersianDateTime(item.RegisterDate)
                            </td>

                            <td>
                                <div class="btn-group" role="group">
                                    <button id="btndefault" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">عملیات</button>
                                    <div class="dropdown-menu" aria-labelledby="btndefault" style="will-change: transform;">
                                        <a href="@Url.Action("Edit", new { id = item.Id })" class="dropdown-item"><i class="flaticon-home-fill-1 mr-1"></i>ویرایش</a>
                                        <a href="@Url.Action("Delete", new { id = item.Id })" onclick="return confirm('آیا اطمینان دارید ؟');" class="dropdown-item"><i class="flaticon-gear-fill mr-1"></i>حذف</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                    <tfoot>
                        <tr>
                            <th style="width: 162px;">کد</th>
                            <th style="width: 162px;">ضامن</th>
                            <th style="width: 162px;">شماره چک</th>
                            <th style="width: 162px;">نام بانک</th>
                            <th style="width: 162px;">مبلغ چک ضمانت</th>
                            <th style="width: 162px;">شماره سفته</th>
                            <th style="width: 162px;">مبلغ سفته</th>
                            <th style="width: 162px;">وزن و مشخصات طلای ضمانتی</th>
                            <th style="width: 162px;">مشخصات فیش حقوقی ضمانتی</th>
                            <th style="width: 162px;">تاریخ ثبت</th>

                            <th>عملیات</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <partial name="./Partial/_PaginationCount" model="new PaginationInfo(Model)" />

        </div>
    </div>
</div>

@section Styles{
    <link href="~/plugins/select2/select2.min.css" rel="stylesheet" />
}

    @section Scripts{
    <script src="~/plugins/select2/select2.min.js"></script>

    <script>

        $("#guaranteeUserId").select2({
            tags: true,
        }).data('select2').$dropdown.addClass('class23');


        $("#bankName").select2({
            tags: true,
        }).data('select2').$dropdown.addClass('class58');
    </script>
    }