@model UserAccountDepositWithdrawal
<div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
    <div class="info">
        <div class="r!importantw">
            <div class="col-md-11 mx-auto">
                <div class="row">

                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <partial name="~/Views/Shared/Generic/_SaveAndCancelButton.cshtml" model="@("right")" />
                        <br />
                        <br />
                    </div>

                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="IsDelete" />

                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <label asp-for="UserAccountId"></label>
                            <select asp-for="UserAccountId" asp-items="ViewBag.listUserAccount" class="form-control">
                                <option value="">انتخاب</option>
                            </select>
                            <span asp-validation-for="UserAccountId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <label asp-for="Price"></label>
                            <input asp-for="Price" class="form-control" onkeyup="formatNumber(this.id, this.value)" value="@Model.Price.ToString("N0")" onclick="select()">
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <label asp-for="AccountTransactionType"></label>
                            <select asp-for="AccountTransactionType" asp-items="ViewBag.listAccountTransactionType" class="form-control">
                                <option value="">انتخاب</option>
                            </select>
                            <span asp-validation-for="AccountTransactionType" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <label asp-for="AccountTransactionMethod"></label>
                            <select asp-for="AccountTransactionMethod" asp-items="ViewBag.listAccountTransactionMethod" class="form-control">
                                <option value="">انتخاب</option>
                            </select>
                            <span asp-validation-for="AccountTransactionMethod" class="text-danger"></span>
                        </div>
                    </div>



                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <label asp-for="TransactionDateTime"></label>
                            @{
                                var valueDate = (Model.TransactionDateTime != default ? Model.TransactionDateTime.ToConvertDateTimeToPersianDate() : DateTime.Now.ToConvertDateTimeToPersianDate());
                            }
                            <input asp-for="TransactionDateTime" name="DocumentRegisterDate" value="@valueDate" type="text" class="form-control PersianDatePicker" readonly/>
                            <span asp-validation-for="TransactionDateTime" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <label for="TransactionTime">ساعت واریزی</label>
                            @{
                                var valueTime = (Model.TransactionDateTime != default ? Model.TransactionDateTime.ToString("HH:mm") : "00:00");
                            }
                            <input type="text" class="form-control clockPicker" id="TransactionTime" readonly="readonly" name="TransactionTime" value="@valueTime" />
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group">
                            <label asp-for="TotalPriceAfterTransaction"></label>
                            <input asp-for="TotalPriceAfterTransaction" class="form-control" onkeyup="formatNumber(this.id, this.value)" value="@Model.TotalPriceAfterTransaction.ToString("N0")" onclick="select()" disabled readonly>
                            <span asp-validation-for="TotalPriceAfterTransaction" class="text-danger"></span>
                        </div>
                    </div>

                    @*<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div role="form">
                    <div class="form-group">
                    <label asp-for="TransactionDateTime"></label>
                    <input id="TransactionDateTime" name="TransactionDateTimeString" type="text" class="form-control mb-4 PersianDatePicker" readonly value="تاریخ" />
                    <span asp-validation-for="TransactionDateTime" class="text-danger"></span>
                    </div>
                    </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div role="form">
                    <div class="form-group">
                    <label class=""> ساعت </label>
                    <div class="input-group clockpicker" data-autoclose="true">
                    <input name="TransactionDateTimeTime" type="text" class="form-control" value="@Model.TransactionDateTime.ToString("HH:mm")" readonly>
                    <button type="button" class="input-group-addon btn-primary">
                    <i class="fa fa-clock-o"></i>
                    </button>
                    </div>
                    <span asp-validation-for="TransactionDateTime" class="text-danger"></span>
                    </div>
                    </div>
                    </div>*@


                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="form-group">
                            <label asp-for="Description"></label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<partial name="~/Views/Shared/Generic/_SaveAndCancelButton.cshtml" model="@("left")" />