@model CharityLoan
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    Aban.ViewModel.BreadCrumb breadCrumb = new Aban.ViewModel.BreadCrumb();
    breadCrumb.Title = "ویرایش";
    breadCrumb.PageTitle = "ویرایش";

    breadCrumb.Links = new List<string[]>
{
new string[2]{Url.Action("Index"),"صفحه اصلی" }
};
}


@await Html.PartialAsync("~/Views/Shared/Generic/_BreadCrumb.cshtml", breadCrumb)


<div class="row layout-top-spacing">
    <div class="col-lg-12 col-12 layout-spacing">
        <div class="statbox widget box box-shadow">
            <form id="mainform" enctype="multipart/form-data" method="post" class="section contact">
                @Html.ValidationSummary(true)
                @*<div asp-validation-summary="All"></div>
                <div asp-validation-summary="ModelOnly"></div>*@
                <fieldset>
                    @Html.HiddenFor(X => X.Id)
                    @Html.HiddenFor(X => X.IsDelete)
                    @Html.HiddenFor(X => X.RegisterDate)
                    <partial name="./Partial/_CreateOrEditPatial.cshtml" model="Model" />
                </fieldset>
            </form>
        </div>
    </div>
</div>

@section Styles{
    <link href="~/assets/css/forms/switches.css" rel="stylesheet" />
    <link href="~/plugins/select2/select2.min.css" rel="stylesheet" />
    <link href="~/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
}

    @section Scripts{
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    <script src="~/plugins/select2/select2.min.js"></script>
    <script src="~/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>

    <script>
        // With postfix
        $("input[name='PercentSalary']").TouchSpin({
            postfix: '%',
        });

        //flatpickr(document.getElementById('PaymentStartDateTime'), {
        //    enableTime: true,
        //    noCalendar: true,
        //    dateFormat: "H:i",
        //    defaultDate: "@DateTime.Now.ToString("HH:mm")"
        //});

        $("#LoanReceiverId").select2({
            tags: true,
        }).data('select2').$dropdown.addClass('class23');

        $("#GuaranteeId").select2({
            tags: true,
        }).data('select2').$dropdown.addClass('class58');

        $(function () {

            $('.submit-form').click(function () {
                if ($('#mainform').valid()) {
                    var userConfirmed = window.confirm('آیا اطمینان دارید؟');
                    if (userConfirmed) {
                        $('#form_loader').modal('show');
                        $('#mainform').submit();
                    }
                }
            });
        });

    </script>
}
